{% extends "base.html" %} {% load static %}

{% block content %}
    {% if bag_items %}
        <h2 class="text-center">Products</h2>
        <div class="table-responsive">
            <table class="table table-striped bag-table">
                <thead>
                    <tr>
                        <th>Product</th>
                        <th>Image</th>
                        <th>Price</th>
                        <th>Qty</th>
                        <th>Total</th>
                        <th>Remove</th>
                        <th>Edit</th>
                    </tr>
                </thead>
                <tbody>
                    {% for item in bag_items %}
                        {% if item.type == 'product' %}
                            <tr>
                                <th>{{ item.product.name }}</th>
                                <th><img class="bag-image" src="{{ item.product.image.url }}" alt="{{ item.product.name }}"></th>
                                <th>{{ item.product.price }}</th>
                                <th>
                                    <form method="POST" class="qty-form" action="{% url 'adjust_bag' item.product.slug %}">
                                        {% csrf_token %}
                                        <button class="minus-qty" type="button">-</button>
                                        <input type="number" value="{{ item.quantity }}" name="quantity" class="qty-input">
                                        <button class="plus-qty" type="button">+</button>
                                    </form>
                                </th>
                                <th>£{{ item.bag_total }}</th>
                                <th><a href="">Edit</a></th>
                                <th><a href="{% url 'remove_from_bag' item.product.slug %}">Delete</a></th>
                            </tr>
                        {% endif %}
                    {% endfor %}
                </tbody>
            </table>
        </div>
        <h2 class="text-center mt-2">Pick and Mix</h2>
        <div class="table-responsive">
            <table class="table table-striped bag-table">
                <thead>
                    <tr>
                        <th>Product</th>
                        <th>Bag Size (in grams)</th>
                        <th>Price</th>
                        <th>Products</th>
                    </tr>
                </thead>
                {% for item in bag_items %}
                    {% if item.type == 'pick_and_mix' %}
                        <tbody>
                            <tr>
                                <td>{{ item.bag_name }}</td>
                                <td>{{ item.max_weight }}g</td>
                                <td>£{{ item.price|floatformat:2 }}</td>
                                <td>
                                    <ul>
                                        {% for sweet in item.items %}
                                            <li>
                                                {{ sweet.name }} x {{ sweet.total_weight}}g
                                            </li>
                                        {% endfor %}
                                    </ul>
                                </td>
                            </tr>
                        </tbody>
                    {% endif %}
                {% endfor %}
            </table>
        </div>
    {% else %}
        <strong>You currently have no items in your bag</strong>
        <p>Look for products here</p>
        <a href="">Products</a>
    {% endif%}
    {{ total_price }}
{% endblock %}


{% block extra_js %}
<script type="text/javascript">
    $(document).ready(function() {
        $('.minus-qty').click(function() {
            var input = $(this).siblings('.qty-input')
            input.val(parseInt(input.val()) - 1)
            $(this).closest('form').submit()
        })
        $('.plus-qty').click(function() {
            var input = $(this).siblings('.qty-input')
            input.val(parseInt(input.val()) + 1)
            $(this).closest('form').submit()
        })
    })
</script>
{% endblock %}