{% extends "base.html" %} {% load static %}

{% block content %}
    <section class="hero">
        <div class="hero-content">
            <h1 class="mb-5">Sugar Rush</h1>
            <div>
                <p class="w-75 w-md-50">
                    Sweet bags, chocolate treats, and pick-and-mix 
                    favourites — handcrafted and packed fresh.
                    Made for gifting, sharing, or treating yourself.
                </p>
                <a class="cta-button" href="{% url 'products' %}">Shop Now</a>
            </div>
        </div>
    </section>

    <section>
        <div class="container">
            <div class="d-flex flex-wrap justify-content-center">
                {% for review in reviews %}
                    <div class="reviews text-center mt-5">
                        <h3>{{ review.name }}</h3>
                        <span>
                            {% if review.rating == 4 %}
                                <span><i class="fa-solid fa-star"></i></span>
                                <span><i class="fa-solid fa-star"></i></span>
                                <span><i class="fa-solid fa-star"></i></span>
                                <span><i class="fa-solid fa-star"></i></span>
                            {% else %}
                                <span><i class="fa-solid fa-star"></i></span>
                                <span><i class="fa-solid fa-star"></i></span>
                                <span><i class="fa-solid fa-star"></i></span>
                                <span><i class="fa-solid fa-star"></i></span>
                                <span><i class="fa-solid fa-star"></i></span>
                            {% endif %}
                        </span>
                        <p>{{ review.review_message }}</p>
                    </div>
                {% endfor %}
            </div>
        </div>
    </section>
{% endblock %}
