{% extends "base.html" %} {% load static %}

{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-12 text-center mt-5">
                <form method="POST" action="{% url 'pick_and_mix_add_basket' pnmbag.slug %}">
                    {% csrf_token %}
                    {% if not pick_and_mix %}
                        <p>Your pick and mix bag currently has <strong>{{ max_weight }}</strong> grams left</p>
                    {% elif remaining_weight != 0 %}
                        <p>Your pick and mix bag currently has <strong>{{ remaining_weight }}</strong> grams left</p>
                    {% else %}
                        <p>Your pick and mixbag is full, add it to checkout</p>
                    {% endif %}
                    <button type="submit" class="btn button-effect">Send pick and mix bag to checkout</button>
                </form>
            </div>
            <div class="col-12 d-lg-none d-flex my-auto mt-4 mb-4">
                <form id="product-search" class="d-flex w-100 justify-content-center position-relative" role="search" action="{% url 'products' %}">
                    <input type="search" name="q" class="form-control rounded-pill ps-3 pe-5" placeholder="Search" aria-label="Search"/>
                    <button type="submit" class="btn position-absolute end-0 top-50 translate-middle-y pe-3 ps-3 border-0 bg-transparent search-bar-icon" aria-label="Submit search">
                        <i class="fa-solid fa-magnifying-glass"></i>
                    </button>
                </form>
            </div>
            <button id="filter-button" class="d-md-none collapsed mx-auto" type="button" data-bs-target="#mobile-filter" data-bs-toggle="collapse" aria-expanded="false" aria-controls="mobile-filter">
                <p>Filters <i class="fa-solid fa-caret-right"></i></p>
            </button>
            <div class="col-12 col-md-3 text-center text-md-start collapse d-md-block mt-5" id="mobile-filter">
                <form method="GET">
                    <div>
                        <h3>Category</h3>
                        {% for category in categories %}
                            <div class="form-check ps-0">
                                <input type="checkbox" id="category-{{ category.id }}" value="{{ category.slug }}" name="category" {% if category.slug in selected_category %}checked{% endif %}>
                                <label for="category-{{ category.id }}">{{ category.name }}</label>
                            </div>
                        {% endfor %}
                    </div>
                    <div>
                        <h3>Dietary Needs</h3>
                        {% for tag in dietary_tags %}
                            <div class="form-check ps-0">
                                <input type="checkbox" id="tag-{{ tag.id }}" value="{{ tag.slug }}" name="dietary_tag" {% if tag.slug in selected_dietary_tags %}checked{% endif %}>
                                <label for="tag-{{ tag.id }}">{{ tag.name }}</label>
                            </div>
                        {% endfor %}
                    </div>
                    <button type="submit" class="btn button-effect">Filter Results</button>
                </form>
            </div>
            <div class="col-md-9 row justify-content-center mt-5 mx-auto">
                {% if products %}
                    {% for product in products %}
                        <div class="col-9 col-md-6 col-lg-4 d-flex justify-content-center">
                            <div class="card mb-5">
                                <img src="{{ product.image.url }}" class="card-img-top" alt="...">
                                <div class="card-body">
                                    <h5 class="card-title">{{ product.name }}</h5>
                                    <p class="card-text">{{ product.description }}</p>
                                </div>
                                <strong class="text-center">{{ product.sweet_category.weight_in_grams }}g per item</strong>
                                <form data-weight="{{ product.sweet_category.weight_in_grams }}" class="add-grams-form text-center" method="POST" action="{% url 'pick_and_mix_add' pnmbag.slug product.slug %}">
                                    {% csrf_token %}
                                    <input class="quantity-input" class="text-center d-block mx-auto w-25" type="number" name="quantity" value="1" min="1" max="400">
                                    <button type="submit" class="btn button-effect">Add</button>
                                    <p>Total product weight: <span class="total-weight"></span>g</p>
                                </form>
                            </div>
                        </div>    
                    {% endfor %}
                {% else %}
                <p class="text-center fw-bold">No results found from your search, please try again.</p>
                {% endif %}
            </div>
        </div>
    </div>
{% endblock %}


{% block extra_js %}
    {{ block.super }}
    <script type="text/javascript">
        $(function () {
            $(".add-grams-form").each(function() {
                var $form = $(this)
                var $input = $form.find('.quantity-input')
                var $totalDisplay = $form.find('.total-weight')
                var weightPerItem = parseFloat($form.attr("data-weight"))
        
                function updateWeight() {
                    var quantity = parseInt($input.val()) || 0;
                    var totalWeight = quantity * weightPerItem
                    $totalDisplay.text(totalWeight)
                }
                updateWeight();
        
                $input.on("input", function() {
                    updateWeight()
                })
            })
        })
    </script>
{% endblock %}