{% extends "base.html" %} {% load static %} {% load crispy_forms_tags %}

{% block extra_title %} - Checkout{% endblock %}

{% block extra_css %}
    <link rel="stylesheet" href="{% static 'checkout/css/checkout.css' %}">
{% endblock %}

{% block content %}
    {% if bag_items %}
        <div class="container">
            <div class="row">
                <div class="col-12 col-lg-6 p-5">
                    <form method="POST" id="payment-form" action="{% url 'checkout' %}">
                        {% csrf_token %}
                        {{ form.full_name|as_crispy_field }}
                        {{ form.email|as_crispy_field }}
                        {{ form.phone_number|as_crispy_field }}
                        {{ form.country|as_crispy_field }}
                        {{ form.postcode|as_crispy_field }}
                        {{ form.city|as_crispy_field }}
                        {{ form.town|as_crispy_field }}
                        {{ form.street_address1|as_crispy_field }}
                        {{ form.street_address2|as_crispy_field }}
                        {% if user.is_authenticated %}
                            {{ form.save_info|as_crispy_field }}
                        {% else %}
                            <p>To save information for next time you can <a href="{% url 'account_signup' %}">Create an account</a> or <a href="{% url 'account_login' %}">Log in</a></p>
                        {% endif %}
                        <div>
                            <label>
                                <input type="radio" value="standard" name="delivery_method" checked {% if order_total >= 30 %} disabled {% endif %}>
                                Standard delivery (£5)
                            </label>
                            <span class="ms-1" data-bs-toggle="info" data-bs-placement="right" title="3-5 Working Days">
                                <i class="fa-regular fa-circle-question"></i>
                            </span>
                        </div>
                        <div>
                            <label class="mb-3">
                                <input type="radio" value="premium" name="delivery_method" {% if order_total >= 30 %} disabled {% endif %}>
                                Premium delivery (£10)
                            </label>
                            <span class="ms-1" data-bs-toggle="info" data-bs-placement="right" title="Next Day Delivery">
                                <i class="fa-regular fa-circle-question"></i>
                            </span>
                        </div>
                        <div>
                            {% if order_total >= 30 %}
                                <p class="fw-bold">You have hit the free delivery threshold</p>
                            {% else %}
                                <p id="delivery-cost">Delivery cost: £{{ delivery_cost }}</p>
                                <p>Spend £{{ amount_needed_for_free_delivery }} more for free delivery (Excluding delivery costs)</p>
                            {% endif %}
                        </div>
                        <div class="mb-3" id="card-element"></div>
                        <div class="mb-3 text-danger" id="card-errors" role="alert"></div>
                        <p id="grand-total">{{ grand_total }}</p>
                        <button id="submit-button" class="btn button-effect" type="submit">Checkout</button>
                    </form>
                    <div class="d-none">
                        <p id="order-total" data-total="{{ order_total }}">{{ order_total }}</p>
                    </div>
                </div>
                <div class="col-12 col-lg-6">
                    <div class="table-responsive">
                        {% if product_items %}
                            <table class="table table-striped bag-table">
                                <thead>
                                    <tr>
                                        <th>Product</th>
                                        <th>Image</th>
                                        <th>Price</th>
                                        <th>Qty</th>
                                        <th>Total</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    {% for item in bag_items %}
                                        {% if item.product %}
                                            <tr>
                                                <th>{{ item.product.name }}</th>
                                                <th><img class="bag-image" src="{{ item.product.image.url }}" alt="{{ item.product.name }}"></th>
                                                <th>{{ item.product.price }}</th>
                                                <th>
                                                    {{ item.quantity }}
                                                </th>
                                                <th>£{{ item.line_total }}</th>
                                            </tr>
                                        {% endif %}
                                    {% endfor %}
                                </tbody>
                            </table>
                        {% endif %}
                        {% if pick_and_mix_items %}
                            <table class="table table-striped bag-table">
                                <thead>
                                    <tr>
                                        <th>Product</th>
                                        <th>Price</th>
                                        <th>Products</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    {% for item in bag_items %}
                                        {% if item.pick_and_mix_bag %}
                                            <tr>
                                                <th>{{ item.pick_and_mix_bag.name }}</th>
                                                <th>{{ item.pick_and_mix_bag.price }}</th>
                                                <th>{{ item.pick_and_mix_item }}</th>
                                            </tr>
                                        {% endif %}
                                    {% endfor %}
                                </tbody>
                            </table>
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
    {% endif%}
{% endblock %}

{% block postloadjs %}
    {{ block.super }}
    <script type="text/javascript">
        $(function () {
            $('[data-bs-toggle="info"]').each(function () {
                new bootstrap.Tooltip(this, {
                    trigger: 'click focus'
                })
            })
        })
        var orderTotal = parseFloat($('#order-total').data('total'));
        var FREE_DELIVERY_THRESHOLD = parseFloat('{{ FREE_DELIVERY_THRESHOLD|floatformat:"2" }}');
        var STANDARD_DELIVERY_COST = parseFloat('{{ STANDARD_DELIVERY_COST|floatformat:"2" }}');
        var PREMIUM_DELIVERY_COST = parseFloat('{{ PREMIUM_DELIVERY_COST|floatformat:"2" }}');
        console.log(orderTotal)
        
        function updateTotals(delivery_method){
            var deliveryCost = 0
            if (orderTotal < FREE_DELIVERY_THRESHOLD) {
                deliveryCost = (delivery_method === 'premium') ? PREMIUM_DELIVERY_COST : STANDARD_DELIVERY_COST;
            } else {
                deliveryCost = 0
            }
            var grandTotal = orderTotal + deliveryCost;
            console.log(deliveryCost)
            console.log(delivery_method)
            console.log(grandTotal)
            $('#delivery-cost').text('Delivery Cost: £' + deliveryCost.toFixed(2))
            $('#grand-total').text('Grand Total: £' + grandTotal.toFixed(2))
        }
        updateTotals('standard')
        $('input[name="delivery_method"]').on('change', function() {
            updateTotals($(this).val())
        })
    </script>
{% endblock %}

{% block extra_js %}
{{ stripe_public_key|json_script:"id_stripe_public_key" }}
{{ client_secret|json_script:"id_client_secret" }}
<script src="{% static 'checkout/js/stripe_elements.js' %}"></script>
{% endblock %}