/* Global rules */
body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

main {
    flex: 1;
}

/* NAVBAR */

.navbar {
    background-color: #FFB347;
    font-size: 2rem;
}

#navbar-search {
    width: 30rem;
    height: 3rem;
}

/* HERO IMAGE */

.hero {
    position: relative;
    height: 80vh;
    background-image: url(/media/hero-image.png);
    background-size: cover;
    background-position: center;
    display: flex;
    align-items: center;
}

.hero-content {
    margin-left: 75px;
    transform: translateY(-300%);
}

/* DETAIL BANNER */

.detail-banner-container {
    width: 100%;
    height: 60px;
    background-color: blue;
}

.banner-text {
    height: 60px;
    color: white;
    font-size: 2rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

/* BAG / CHECKOUT TABLE */

.bag-table {
    width: 80%;
    margin: auto;
    margin-top: 50px;
    text-align: center;
    border: #FFB347 2px solid;
}

.bag-image {
    width: 10%;
    min-width: 50px;
}

/* REVIEWS */
/* TAKEN FROM MY PROJECT 4 */


.stars {
    display: flex;
    flex-direction: row-reverse;
}

.stars input {
    display: none;
}

.stars label i {
    font-size: 3rem;
    color: grey;
}

.stars label:hover i,
.stars label:hover ~ label i {
    color: rgb(255, 217, 0);
}

.stars input:checked ~ label i {
    color: rgb(255, 217, 0);
}


/* FOOTER */

#footer {
    width: 100%;
    background-color: #FFB347;
    bottom: 0;
    padding: 50px;
}

#footer li {
    list-style-type: none;
    text-decoration: none;
}

#footer ul {
    padding: 0;
}

#footer li a {
    color: black;
    text-decoration: none;
}

#hygiene-rating img {
    width: 100px;
}


/* REMOVE ARROWS FROM INPUT BOX TAKEN FROM https://www.w3schools.com/howto/howto_css_hide_arrow_number.asp */
    /* Chrome, Safari, Edge, Opera */
    input::-webkit-outer-spin-button,
    input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
    }

    /* Firefox */
    input[type=number] {
    -moz-appearance: textfield;
    }