/* NAVBAR */

.navbar {
    background-color: #FFB347;
    font-size: 2rem;
}

#navbar-search {
    width: 30rem;
    height: 3rem;
}

/* DETAIL BANNER */

.detail-banner-container {
    width: 100%;
    height: 60px;
    background-color: blue;
}

.banner-text {
    height: 60px;
    color: white;
    font-size: 2rem;
    display: flex;
    align-items: center;
    justify-content: center;
}