/* Global rules */
:root {
    --main-font: 'pacifico', 'cursive';
    --secondary-font: 'roboto', sans-serif;
    --main-color: #FFB347;
    --secondary-color: #007bff;
}

body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    font-family: var(--secondary-font);
}

main {
    flex: 1;
}

h1, h2, h3, h4 {
    font-family: var(--main-font);
}

h1 {
    color: var(--main-color);
    font-size: 6rem;
    font: bold;
}

/* NAVBAR */

.navbar {
    background-color: #FFB347;
    font-size: 2rem;
}

#navbar-search {
    width: 30rem;
    height: 3rem;
}

.nav-item {
    margin-left: 10px;
    font-size: 3rem;
}

.navbar-nav .dropdown-menu {
    position: absolute;
    top: 100%;
    right: 0;
    z-index: 1000;
    float: none;
}

/* HERO IMAGE */

.hero {
    position: relative;
    height: 80vh;
    background-image: url(/media/hero-image.png);
    background-size: cover;
    background-position: center;
    display: flex;
    align-items: center;
}

.cta-button {
    display: inline-block;
    padding: 1rem 1.5rem;
    background-color: #FFB347;
    border-radius: 0.4rem;
    font-family: var(--main-font);
    text-decoration: none;
    color: black;
    font-size: 3rem;
}

.cta-button:hover {
    background-color: #ffa322;
    transform: translateY(-3px);
    transition: all 0.3s ease;
}

.hero-content {
    margin-left: 100px;
    transform: translateY(-50%);
}

/* DETAIL BANNER */

.detail-banner-container {
    width: 100%;
    height: 60px;
    background-color: var(--secondary-color);
}

.banner-text {
    height: 60px;
    color: white;
    font-size: 2rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

/* PRODUCT LIST */

.card a {
    text-decoration: none;
    color: black;
}

.button-effect:hover {
    transform: translateY(-2px);
    box-shadow: 0 4px 10px rgba(20, 20, 204, 0.15);
}

#filter-button {
    width: 100px;
    border: none;
    background: none;
    padding: 0;
}

.fa-caret-right {
    transition: transform 0.3s ease;
}

#filter-button.collapsed .fa-caret-right {
    transform: rotate(0deg);
}

#filter-button:not(.collapsed) .fa-caret-right {
    transform: rotate(90deg);
}

/* PRODUCT DETAILS */

.card-buttons .btn {
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0;
    margin: 0;
    width: 100%;
}

/* BAG / CHECKOUT TABLE */

.bag-table {
    width: 80%;
    margin: auto;
    margin-top: 50px;
    text-align: center;
    border: #FFB347 2px solid;
}

.bag-image {
    width: 10%;
    min-width: 50px;
}

/* REVIEWS */
/* TAKEN FROM MY PROJECT 4 */


.stars {
    display: flex;
    flex-direction: row-reverse;
}

.stars input {
    display: none;
}

.stars label i {
    font-size: 3rem;
    color: grey;
}

.stars label:hover i,
.stars label:hover ~ label i {
    color: rgb(255, 217, 0);
}

.stars input:checked ~ label i {
    color: rgb(255, 217, 0);
}


/* FOOTER */

#footer {
    width: 100%;
    background-color: #FFB347;
    bottom: 0;
    padding: 50px;
}

#footer li {
    list-style-type: none;
    text-decoration: none;
}

#footer ul {
    padding: 0;
}

#footer li a {
    color: black;
    text-decoration: none;
}

#hygiene-rating img {
    width: 100px;
}


/* REMOVE ARROWS FROM INPUT BOX TAKEN FROM https://www.w3schools.com/howto/howto_css_hide_arrow_number.asp */
    /* Chrome, Safari, Edge, Opera */
    input::-webkit-outer-spin-button,
    input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
    }

    /* Firefox */
    input[type=number] {
    -moz-appearance: textfield;
    }


@media (max-width: 756px) {
    .hero-content {
        text-align: center;
        margin: auto;
        margin-top: 500px;
    }

    .banner-text {
        font-size: 1.2rem;
    }
}