/* NAVBAR */

.navbar {
    background-color: #FFB347;
    font-size: 2rem;
}

#navbar-search {
    width: 30rem;
    height: 3rem;
}

/* DETAIL BANNER */

.detail-banner-container {
    width: 100%;
    height: 60px;
    background-color: blue;
}

.banner-text {
    height: 60px;
    color: white;
    font-size: 2rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

/* BAG */

#bag-table {
    width: 80%;
    margin: auto;
    margin-top: 50px;
    text-align: center;
    border: #FFB347 2px solid;
}

#bag-image img {
    width: 10%;
    min-width: 50px;
}

/* REMOVE ARROWS FROM INPUT BOX TAKEN FROM https://www.w3schools.com/howto/howto_css_hide_arrow_number.asp */
    /* Chrome, Safari, Edge, Opera */
    input::-webkit-outer-spin-button,
    input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
    }

    /* Firefox */
    input[type=number] {
    -moz-appearance: textfield;
    }