<footer id="footer">
    <div class="container text-center">
        <div class="row">
            <div class="col-12 col-md-6">
                <nav>
                    <h2>Sugar Rush</h2>
                    <ul>
                        <h3>Helpful Links</h3>
                        <li><a href="{% url 'products' %}">Shop Here</a></li>
                        <li><a href="{% url 'view_bag' %}">Bag</a></li>
                        {% if user.is_authenticated %}
                            <li><a href="{% url 'profile' %}">My Profile</a></li>
                        {% else %}
                            <li><a href="{% url 'account_login' %}">Sign in</a></li>
                            <li><a href="{% url 'account_signup' %}">Create an Account</a></li>
                        {% endif %}
                    </ul>
                    <ul>
                        <h3>Social links</h3>
                        <li><a href="">Facebook</a></li>
                        <li><a href="">Twitter</a></li>
                        <li><a href="">Instagram</a></li>
                    </ul>
                </nav>
                <div id="hygiene-rating">
                    <img src="/media/food-hygiene-rating-scheme.jpg" alt="Food hygiene rating scheme">
                </div>
            </div>
            <div class="col-12 col-md-6">
                <!-- MAILCHIMP NEWSLETTER BOX -->
                test div
            </div>
        </div>
    </div>
</footer>