<nav class="navbar navbar-expand-lg bg-body-tertiary d-none d-lg-flex">
    <div class="container-fluid">
        <h2><a class="navbar-brand" href="{% url 'home' %}">Sugar Rush</a></h2>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <form class="d-flex mx-auto position-relative" role="search" action="{% url 'products' %}" method="GET">
            <input type="search" name="q" class="form-control rounded-pill ps-3 pe-5" placeholder="Search" aria-label="Search"/>
            <button type="submit" class="btn position-absolute end-0 top-50 translate-middle-y pe-3 ps-3 border-0 bg-transparent search-bar-icon" aria-label="Submit search">
                <i class="fa-solid fa-magnifying-glass"></i>
            </button>
        </form>
            <ul class="navbar-nav mb-2 mb-lg-0 d-flex flex-row align-items-center">
                <li class="nav-item dropdown">
                    <a class="nav-link" data-bs-toggle="dropdown" aria-expanded="false"><i class="fa-solid fa-user"></i></a>
                    {% if user.is_authenticated %}
                        <ul class="dropdown-menu dropdown-menu-end border-0 p-2">
                            <p>Signed in as: {{ user.username }}</p>
                            <li>
                                <a class="btn button-effect" href="{% url 'profile' %}">Edit Profile</a>
                            </li>
                            <li>
                                <a class="btn button-effect" href="{% url 'account_logout' %}">Sign Out</a>
                            </li>
                        </ul>
                    {% else %}
                        <ul class="dropdown-menu dropdown-menu-end border-0 p-2">
                            <p>You are currently not logged in</p>
                            <li>
                                <a class="btn button-effect" href="{% url 'account_login' %}">Login</a>
                            </li>
                            <li>
                                <a class="btn button-effect" href="{% url 'account_signup' %}">Create Account</a>
                            </li>
                        </ul>
                    {% endif %} 
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link" data-bs-toggle="dropdown" aria-expanded="false"><i class="fa-solid fa-basket-shopping"></i></a>
                    <ul class="dropdown-menu dropdown-menu-end border-0 p-2">
                        <p class="small">Total price: £{{ total_price|default:"0.00" }}</p>
                        <p class="small">Total items: {{ total_bag_items }}</p>
                        <a class="btn button-effect" href="{% url 'view_bag' %}">View Bag</a>
                    </ul>    
                </li>
            </ul>
        </div>
    </div>
</nav>