<nav class="navbar navbar-expand-lg bg-body-tertiary d-none d-lg-flex">
    <div class="container-fluid">
        <a class="navbar-brand" href="#">Sugar Rush</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <form class="d-flex mx-auto" role="search" action="{% url 'products' %}">
                <input name="q" class="form-control me-2" type="search" id="navbar-search" placeholder="Search" aria-label="Search"/>
                <button type="submit"><i class="fa-solid fa-magnifying-glass"></i></button>
            </form>
            <ul class="navbar-nav mb-2 mb-lg-0 d-flex flex-row align-items-center">
                <li class="nav-item dropdown">
                    <a class="nav-link" data-bs-toggle="dropdown" aria-expanded="false"><i class="fa-solid fa-user"></i></a>
                    {% if user.is_authenticated %}
                        <ul class="dropdown-menu dropdown-menu-end">
                            <p>Signed in as: {{ user.username }}</p>
                            <li>
                                <a href="{% url 'profile' %}">Edit Profile</a>
                            </li>
                            <li>
                                <a href="{% url 'account_logout' %}">Sign Out</a>
                            </li>
                        </ul>
                    {% else %}
                        <ul class="dropdown-menu dropdown-menu-end">
                            <p>You are currently not logged in</p>
                            <li>
                                <a href="{% url 'account_login' %}">Login</a>
                            </li>
                            <li>
                                <a href="{% url 'account_signup' %}">Create Account</a>
                            </li>
                        </ul>
                    {% endif %} 
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link" data-bs-toggle="dropdown" aria-expanded="false"><i class="fa-solid fa-basket-shopping"></i></a>
                    <ul class="dropdown-menu dropdown-menu-end">
                        <p class="small">Total price: £{{ total_price|default:"0.00" }}</p>
                        <p class="small">Total items: {{ total_bag_items }}</p>
                        <a href="{% url 'view_bag' %}">View Bag</a>
                    </ul>    
                </li>
            </ul>
        </div>
    </div>
</nav>