{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- CSS that all pages need -->
    {% block corecss %}
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    {% endblock %}

    <!-- Additional app seperate CSS files go here -->
    {% block extra_css %}
    {% endblock %}

    <!-- JS that all pages need -->
    {% block corejs %}
    {% endblock %}

    <!-- Additional app seperate JS files go here -->
    {% block extra_js %}
    {% endblock %}

    <title>Sugar Rush</title>
</head>
<body>
    {% block content %}

    {% endblock %}
</body>
</html>