{% extends "base.html" %} {% load static %}

{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-12 d-lg-none d-flex my-auto mt-4 mb-4">
                <form id="product-search" class="d-flex w-100 justify-content-center position-relative" role="search" action="{% url 'products' %}">
                    <input type="search" name="q" class="form-control rounded-pill ps-3 pe-5" placeholder="Search" aria-label="Search"/>
                    <button type="submit" class="btn position-absolute end-0 top-50 translate-middle-y pe-3 ps-3 border-0 bg-transparent search-bar-icon" aria-label="Submit search">
                        <i class="fa-solid fa-magnifying-glass"></i>
                    </button>
                </form>
            </div>
            <button id="filter-button" class="d-md-none collapsed mx-auto" type="button" data-bs-target="#mobile-filter" data-bs-toggle="collapse" aria-expanded="false" aria-controls="mobile-filter">
                <p>Filters <i class="fa-solid fa-caret-right"></i></p>
            </button>
            <div class="col-12 col-md-3 text-center text-md-start collapse d-md-block" id="mobile-filter">
                <form method="GET" class="mt-5">
                    <div>
                        <h3>Category</h3>
                        {% for category in categories %}
                            <div class="form-check ps-0">
                                <input type="checkbox" id="category-{{ category.id }}" value="{{ category.slug }}" name="category" {% if category.slug in selected_category %}checked{% endif %}>
                                <label for="category-{{ category.id }}">{{ category.name }}</label>
                            </div>
                        {% endfor %}
                    </div>
                    <div>
                        <h3>Dietary Needs</h3>
                        {% for tag in dietary_tags %}
                            <div class="form-check ps-0">
                                <input type="checkbox" id="tag-{{ tag.id }}" value="{{ tag.slug }}" name="dietary_tag" {% if tag.slug in selected_dietary_tags %}checked{% endif %}>
                                <label for="tag-{{ tag.id }}">{{ tag.name }}</label>
                            </div>
                        {% endfor %}
                    </div>
                    <button type="submit">Filter Results</button>
                </form>
            </div>
            <div class="col-12 col-md-9 row justify-content-center mt-5">
                {% if products %}
                    {% for product in products %}
                        <div class="col-9 col-md-6 col-lg-4 d-flex justify-content-center">
                            <div class="card mb-5">
                                <a href="{% url 'product_detail' product.slug %}">
                                    <img src="{{ product.image.url }}" class="card-img-top" alt="{{ product.name }}">
                                </a>
                                <div class="card-body">
                                    <h5 class="card-title">
                                        <a href="{% url 'product_detail' product.slug %}">
                                            {{ product.name }}
                                        </a>
                                    </h5>
                                    <p class="card-text">{{ product.description|truncatechars:100 }}</p>
                                </div>
                                <strong class="text-center">£{{ product.price }}</strong>
                                <div class="d-flex flex-column card-buttons text-center">
                                    {% if product.stock_level == 0 %}
                                        <button class="btn text-danger flex-fill" disabled>Out Of Stock</button>
                                    {% else %}
                                    <form method="POST" action="{% url 'add_to_bag' product.slug %}">
                                        {% csrf_token %}
                                        <input type="hidden" name="redirect_url" value="{{ request.path }}">
                                        <button class="btn button-effect flex-fill" type="submit">Add To Basket</button>
                                    </form>
                                    {% endif %}
                                    <a class="btn button-effect flex-fill" href="{% url 'product_detail' product.slug %}">Read More</a>
                                </div>
                            </div>
                        </div>    
                    {% endfor %}
                {% else %}
                    <p class="text-center fw-bold">No results found from your search, please try again.</p>
                {% endif %}
            </div>
        </div>
    </div>
{% endblock %}